.city-img{
    height: 300px;
    width: 300px;

}
.SocialMediaImage{
    height: 20px;
    width: 22px;
}

.main-container{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}
.logoImg{
    height: 60px;
    width: 60px;
}
.hotel-image{
    width: 500px;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
}