.city-img{
    padding: 4%;
    border-radius: 25%;
    height: 150px;
    width: 150px;

}
.SocialMediaImage{
    height: 20px;
    width: 22px;
}

.main-container{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
.logoImg{
    height: 60px;
    width: 60px;
}
header , footer{
    width: 100%;
    position: fixed;
    background-color: rosybrown;
}
footer{
	bottom: 0;
	height: 8%;
}
header{
	top: 0;
}

.search-bar{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.city-list{
    margin-left: 15%;
    margin-right: 15%;
    
}
.social_media_icons{
    float: right;
    margin:1.5% 1%;
}