
.SocialMediaImage{
    height: 20px;
    width: 22px;
}

.main-container{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
.logoImg{
    height: 60px;
    width: 60px;
}
header , footer{
    width: 100%;
    position: fixed;
    background-color: rosybrown;
}
footer{
	bottom: 0;
	height: 8%;
}
header{
	top: 0;
}


.payment{
    background-color: rgb(132,136,139); 
    margin-top:2%; 
    margin-bottom: 2%;
    margin-left:25%;
    margin-right: 25%;
    
}
.payment-cutomer-info{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
